<?xml version="1.0"?>
<phpunit
	colors="true"
	bootstrap="bootstrap.php"
	processIsolation="true"
>
	<testsuites>
		<testsuite name="AllTests">
			<directory suffix=".test.php">.</directory>
		</testsuite>
	</testsuites>
	
	<groups>
		<exclude>
			<group>html</group>
			<group>entities</group>
			<group>autolinks</group>
			<group>codeblock</group>
			<group>referencelinks</group>
			<group>official</group>
			<group>atxHeaderTrailing</group>
			<group>ol</group>
			<group>ul</group>
		</exclude>
	</groups>
	
	<filter>
		<blacklist>
			<directory>../vendor</directory>
			<directory>../tests</directory>
		</blacklist>
		<whitelist>
			<directory suffix=".php">../app</directory>
		</whitelist>
	</filter>
</phpunit>
